/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

table {
    display: block;
    width: 100%;
    overflow: auto
}
table th {
    font-weight: 600
}
table th,
table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5
}
table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1
}
table tr:nth-child(2n) {
    background-color: #f6f8fa
}